/* Popup CSS */

body {
    width: 350px;
}

input[type="text"] {
    font-family: monospace;
}

input[type="checkbox"] {
    cursor: pointer;
}

p {
    padding: 3px 0 1px 0;
    margin: 0;
}

.container-fluid {
    padding: 4px 4px 0 4px;
}
